<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Mason Chen's Blog" />
   <link rel="stylesheet" href="{{site.baseurl}}/css/screen.css" type="text/css" media="screen, projection" />
 <meta name="keywords" content="创业, 路上, 科技新闻, 移动互联网, 电商, 电子商务, 资讯平台, 互联网创业" />
  <meta name="description" content="这是一个关注互联网电子商务创业的杂文博客" />
<!--
<rdf:RDF xmlns="http://web.resource.org/cc/"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="电子商务、创业">
<dc:title>Mason.m.Chen</dc:title>
<dc:description>发现、欣赏、学习、记录</dc:description>
<dc:creator>MasonChen</dc:creator>
<dc:date>2013-03-14 22:36+08:00</dc:date>
<license rdf:resource="http://creativecommons.org/licenses/by-nc-nd/3.0/" />
</Work>
<License rdf:about="http://creativecommons.org/licenses/by-nc-nd/3.0/">
</License>
</rdf:RDF>
-->
</head>

<body>
<div class="site">
  <div class="title">
    <a class="" href="{{site.baseurl}}">首页</a>
  </div>
  
  {{ content }}


  <div class="footer">
    <div class="contact">
      <p>
        Mason Chen<br />
    <a href="http://weibo.com/82507954">My Weibo</a><br/>
	    <a href="http://weibo.com/82507952">Chen YiZhou's Weibo</a><br/>
	 <a href="mailto:chenmsster@qq.com">chenmsster[AT]qq.com</mailto>
      </p>
    </div>
    <div class="contact">
      <p>
        <br />
         <br />
       
      </p>
    </div>   
  </div>
</div>
<!-- google ad begin-->
<script type="text/javascript"><!--
google_ad_client = "ca-pub-7153481594588226";
/* my1 */
google_ad_slot = "6083829277";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<!-- google ad end -->



</body>
</html>
